@font-face {
   font-family: 'Brice-ExtraLightSemiExpanded';
   font-display: swap;
   src: url('file:///C:/Users/Salvi/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-08-10_183344/fonts/Brice-ExtraLightSemiExpanded/font.ttf');
}
